### Handle Categorical Features

#### One Hot Encoding

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Titanic-Train-Data.csv',usecols=['Sex'])

In [3]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [4]:
df1=pd.get_dummies(df['Sex'],drop_first=True) #here we can remove the female because the male column is enough.

In [5]:
df1.head()

   male
0     1
1     0
2     0
3     0
4     1

In [6]:
#take another column
df=pd.read_csv('Titanic-Train-Data.csv',usecols=['Embarked'])

In [7]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
#we can drop the nan values.
df.dropna(inplace=True)

In [9]:
df['Embarked'].unique()

array(['S', 'C', 'Q'], dtype=object)

In [10]:
df=pd.get_dummies(df['Embarked'],drop_first=True)

In [11]:
df.head()

   Q  S
0  0  1
1  0  0
2  0  1
3  0  1
4  0  1

#### Onehotencoding with many categories in a feature

In [12]:
df=pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])

In [13]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In your feature has many categories we can do onehot encode by most frequent categories.

In [14]:
print(len(df['X1'].unique()))

27

In [15]:
#in this we can determine the length of the each feature.
for feature in ['X0','X1','X2','X3','X4','X5','X6']:
    print(len(df[feature].unique()))

47
27
44
7
4
29
12

In [16]:
list1=df.X1.value_counts().sort_values(ascending=False).head(10).index
list1

Index(['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o'], dtype='object')

In [17]:
list1=list(list1)

In [18]:
list1

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [20]:
import numpy as np 
for categories in list1:
    df[categories]=np.where(df['X1']==categories,1,0)

In [21]:
df.head()

   X0 X1  X2 X3 X4 X5 X6  aa  s  b  l  v  r  i  a  c  o
0   k  v  at  a  d  u  j   0  0  0  0  1  0  0  0  0  0
1   k  t  av  e  d  y  l   0  0  0  0  0  0  0  0  0  0
2  az  w   n  c  d  x  j   0  0  0  0  0  0  0  0  0  0
3  az  t   n  f  d  x  l   0  0  0  0  0  0  0  0  0  0
4  az  v   n  f  d  h  d   0  0  0  0  1  0  0  0  0  0